/*
Estructura del css:

etiqueta{
    propiedad: valor;
}
*/

/*Fuentes y propiedades de texto y la aplico a todo el documento*/
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
   
}

/*características pie de página*/
footer{
    height: 75px;/*altura*/
    line-height: 50px;/*centrado*/
    text-align: center;
    margin-top: 2px;/*margen pàra que no este pegando a la pagina*/
    background: #f5f6f6; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #a5a5a5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f6f6), color-stop(21%,#dbdce2), color-stop(49%,#b8bac6), color-stop(80%,#dddfe3), color-stop(100%,#a5a5a5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#a5a5a5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#a5a5a5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#a5a5a5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#a5a5a5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#a5a5a5',GradientType=0 ); /* IE6-9 */
    copy
}
/*Propiedades del header para hacer responsive header y el menú*/
header{
    background-color: #D8D8D8;
    text-align: right;/*alineo texto a la dcha*/

}

header figure{
    float: left;/*Hacemos flotar la imagen a la izq*/
    margin-left: 100px;/*margen del figure*/
}

header figure img{
    /*Tamaño de la imagen*/
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

header h1{
    color: #f7f7f7;/*Color mas claro*/
    float: left;/*Decimos q flote a dcha*/
    font-size: 1.6em;/*Para que el tamaño sea + grande*/
    display: block;/*Para q no se venga encima del logo*/
    margin: 7px 80px 0px 50px;
    padding: 0px;/*Quitamos el padding (es como un margen interno)q tiene por defecto el h1*/
} 

header nav ul{
    padding: 0px;
    margin: 0px;
    text-align: center;/*q se centren*/
    list-style: none; /*quito el punto*/
    
}   

header nav ul li{
    height: 35px;
    margin-top: 10px;
    /*como estamos en mobile first ponermos anchura del 100% 
    y se muetsr en en linea block, uno de tras de otro*/
    width: 100%;
    display: inline-block;


} 
header nav ul li a{
    text-decoration: none;/*no subrayar*/
    font-weight: bold;
    color:#f7f7f7;
    padding: 15px 25px;

}

/*Colocar imagen de fondo, hay que colocar section aquí arriba
para que esté por orden alfabético, hay que retroceder un directorio
 y luego entrar en imagenes ya que estamos en el dir css. 
 Para que no se repita la imagen ni en el eje x ni en y
 background-repeat: no-repeat; se repite en y background-repeat: repeat-y;*/
 section{
     margin-top: 10px;
      background: url(../imagenes/pixfondo.jpg);  
 }  



 /*Propiedades del article clase recets, lo llamamos con el .*/
 section article.curso{
    border-width: 2px;/*anchura del brode*/
    border-style: solid; /*estilo dle borde*/
    display: inline-block;/*para qu se ponga uno en linea con el otro*/
    vertical-align: top;/**/
    position: relative;/*tenemos que ubicar elementos de manera concreta*/
    border-radius: 0px 0px 15px 15px;/*borde redondeadp esquinas inferiores*/
    margin: 50px 0px 20px 10%;/*el 10% indica que el marg izq , se adapta al 10% del tam de ventana, será variable*/
    width: 85%;/*Anchura del 85% quedará un 5% de margen q es lo que sobra*/
    font-size: 1.2em;
    /*como se desplaza en eje horizontal, cantidad de desplazamiento
    en vertical, cuantos pixels queremos que se difumine la sombra
    y luego el color, se pueden poner varias sombras a la vez*/
    box-shadow: 2px 2px 50px gray;
}  

/*Haremos que el logo de cada tuto se salga un poco de la caja y sea redondeado*/
section article.curso figure {
    float: left;/*se va a la izquerda y el resto de elemntos se acomodan arriba al espacio que quede*/
    /*Para que sobresalga y se vaya arriba y a izquierda un poco*/
    margin-top: -50px; 
    margin-left: -30px; 
}

/*Controlar la foto*/
section article.curso figure img{
    border-radius: 50%;
    border-width: 5px;/*anchura borde*/
    border-style: solid;
    width: 180px;/*anchura*/
    height: 140px;
}

/*Control de h2*/
section article.curso h2{
    /*Quitamos el padding q tiene x defecto*/
    padding: 0px;
    text-align: right;
    margin: 15px 20px 0px 130px;
    font-size: 1.6em;/*el article de por si tiene el 20% mas(1.2em) de tamaño, le incrementamos*/
}

/*Control de div de la lista ordenada*/
section article.curso div{
 width: 90%;
 text-align: justify;
 margin: 30px 5% 10px 5%;
 border-style: solid;
 border-width: 2px;
 position: relative;
 padding-top: 20px;
 font-size: 0.9em;
 border-radius: 15px;/*todas las esquinas*/

}

/*titulo del div*/
section article.curso div span{
    position: absolute;
    top: -15px;
    left: 10px;
    line-height: 20px;/* para que se quede alineado verticalmente*/
    border-radius: 15px;
    text-decoration: underline;
    background-color: white;
    padding: 3px 10px;

}

/*Lista de elementos*/
section article.curso div ul{
    list-style: none;/*Quitar circulos*/
    margin: 0px;
    padding: 0px; 
}
/*elementos de la Lista */
section article.curso div ul li{
    font-weight: bolder;/*Lo mas negrita posible*/
    vertical-align: middle;/*Se alinean en medio*/
    display: inline-block;/*Uno al lado de otro*/ 
    margin: 3px 1%;/*para que no salgan pegados*/
    width: 26%;/*la anchura de cada elemento*/
}

/*Control de párrafo p*/
section article.curso p{

    text-align: justify;
    margin: 15px 10px 5px 30px;
    font-size: 0.8em; 
}

/*Como hay dos Span le ponemos una clase en este caso controlamos el span de la class tipo*/
section article.curso span.tipo{
/*le podemos dar un position absolute por que ya le dimos un padre 
section article.curso con position relative, asi los puedo ubicar donde quiera*/
position: absolute;
border-width: 2px;
border-style: solid;
top:-38px;/*para que sobresalga*/
right: -2px;
height: 30px;
line-height: 30px;/*damos altura y quita ese espacio*/
padding: 2px 10px ;/*separamos el contenido del exterior */
/*Mismo radio que abajo pero al contrario, para que de 
la sensacion que va todo en un borde*/ 
border-radius: 15px 15px 0px 0px;
font-weight: bolder;/*lo mas negrita posible*/
color: #f7f7f7; /*colocará el color del span en blanco como los titulos*/

}




/*********************************************/
/************TEMA COLORES ANDROID******************/ 
/*********************************************/ 

/*Agrupo todos los elementos que quiero que tengan 
las mismas caracteristicas css, se separan por ,*/
section article.android,
section article.android figure img,
section article.android div,
section article.android span.tipo{
    border-color: #04B404;
}

section article.android h2{
    color: #154419;/*color de la letra*/
}
section article.android span.tipo,
section article.android div,
section article.android div span{
    background-color: #04B404;
}
/*color de fondo de todo el conjunto*/
section article.android{
    background-color: #C0EE90;
}

/*Color de las letras de la lista de enlaces del curso*/
section article.android div span, 
section article.android div ul li{
    color: #9CD95C;
}

/*********************************************/
/************TEMA COLORES C++ ******************/ 
/*********************************************/ 
/*Colores de los articles con la clase que estamos creando */

section article.c,
section article.c figure img,
section article.c div,
section article.c span.tipo{
    border-color: #0174DF;
}

section article.c h2{
    color: #08088A;/*color de la letra*/
}
section article.c span.tipo,
section article.c div,
section article.c div span{
    background-color: #0174DF;
}
/*color de fondo de todo el conjunto*/
section article.c{
    background-color:  #81BEF7;
}

/*Color de las letras de la lista de enlaces del curso*/
section article.c div span, 
section article.c div ul li{
    color: #A9E2F3;
}
/*********************************************/
/************TEMA COLORES javascript ******************/ 
/*********************************************/ 
/*Colores de los articles con la clase que estamos creando */

section article.javascript,
section article.javascript figure img,
section article.javascript div,
section article.javascript span.tipo{
    border-color: #6E6E6E;
}

section article.javascript h2{
    color: #6E6E6E;/*color de la letra*/
}
section article.javascript span.tipo,
section article.javascript div,
section article.javascript div span{
    background-color: #BDBDBD;
}
/*color de fondo de todo el conjunto*/
section article.javascript{
    background-color:  #D8D8D8;
}

/*Color de las letras de la lista de enlaces del curso*/
section article.javascript div span, 
section article.javascript div ul li{
    color: #F2F2F2;
}

/*********************************************/
/************TEMA COLORES GIT ******************/ 
/*********************************************/ 
/*Colores de los articles con la clase que estamos creando */

section article.git,
section article.git figure img,
section article.git div,
section article.git span.tipo{
    border-color: #FE9A2E;
}

section article.git h2{
    color: #6E6E6E;/*color de la letra*/
}
section article.git span.tipo,
section article.git div,
section article.git div span{
    background-color: #FAAC58;
}
/*color de fondo de todo el conjunto*/
section article.git{
    background-color:  #F5DA81;
}

/*Color de las letras de la lista de enlaces del curso*/
section article.git div span, 
section article.git div ul li{
    color: #F2F2F2;
}

/*********************************************/
/************TEMA COLORES html ******************/ 
/*********************************************/ 
/*Colores de los articles con la clase que estamos creando */

section article.html,
section article.html figure img,
section article.html div,
section article.html span.tipo{
    border-color: #FA5858;
}

section article.html h2{
    color: #6E6E6E;/*color de la letra*/
}
/*fondo del div inf*/
section article.html span.tipo,
section article.html div,
section article.html div span{
    background-color: #FA5858;
}
/*color de fondo de todo el conjunto*/
section article.html{
    background-color:  #F78181;
}

/*Color de las letras de la lista de enlaces del curso*/
section article.html div span, 
section article.html div ul li{
    color: #F2F2F2;
}

/*Seccio de noticias*/
section div.news{
    width: 30%;
    background-color: white;
    border:1px solid black;
    border-radius: 10px; 
    margin-right: 20px;
    float: right;
    padding-bottom: 20px;
    display: none;/*Para q no se vea*/
}

/*El titulo*/
section div.news h2{
    text-align: center; /*alineo al centro*/

}
section div.news h3{
   margin-left: 85px;

}

/*El article*/
section div.news article.post{
    
    width= 95%;
    margin-left: 2%;
    margin-top: 25px;
    border-top: 2px solid #440a4e;
}
/*contenedor image*/
section div.news figure{
    float: left;
    margin-top: 10px; 
}

/*imagen*/
section div.news figure img{
    width: 100px; 
}
/*Parrafo*/
section div.news p{
    font-style: italic;
    font-size: 0.8em;
    text-align: justify;
    margin: 5px 3% 20px 6%;
}

/*Video*/
section div.news video{
    width: 90%;
    margin: 0px 5%;
}


/*ESQUELETO RESPONIVE DESIGN
Para que nuestra página sea responsive, adaptable
establecemos diferentes anchuras de dispositivo. 
Esta tecnología va a ser mobileFirst q va a ser 
para dispoitivos móviles y pantallas pequeñas
primero*/

/*Establezco dimensiones,PANTALLAS MÓVILES cuando la anchura minima sea de 480px
cuando haya pasado ese tamaño, indico el elemento y el efecto va a cambiar*/
@media screen and (min-width: 480px){
 header nav ul li{
   width: 22%;/*cuando sea la pantalla mas grande, los elementos de la lista se van a hacer al 22%*/
}


}
/*dimensiones  TABLETAS tenerlas bien controladas*/
@media screen and (min-width: 767px){
    header nav ul li{
       width: 8%;/*cuando sea la pantalla mas grande, los elementos de la lista se van a hacer al 22%*/
   } 
   /*Como cambiará article, se verá a dos columnas */
   section article.curso{
    width: 40%;/*Anchura del 40% con el ancho sumamos un 49% en total de margen, es bueno que no lleguen a 50 x que falta sumar los bordes*/
    margin: 50px 3% 20px 6%;/*el 6% indica que el marg izq , se adapta al 6% del tam de ventana, será variable*/
}
}

/*dimensiones PANTALLAS ESCRITORIO tenerlas bien controladas*/
@media screen and (min-width: 950px){

 /*Como cambiará article, se verá a 3 columnas */
 section article.curso{
        /*Anchura del 26% con el ancho sumamos un 49% en total de margen, es bueno que no lleguen
        a 50 x que falta sumar los bordes*/
        width: 24%;
         /*ARRIBA 50, DERECHA 1 mas finito, abajo 20,
         IZQUIERDA 5%, en total sumamos un 32, si queremos que sean 3 columnas deberian medir 33 */
         margin: 50px 1% 20px 4%; 
     }
     /*Hacemos que el contenidod el lateral noticias se muestre solo en pantallas grandes*/
     section div.news{
        display: inline-block;
     }
 }

